<p>This product MAY have been the result of labor trafficking.</p>
<p>Please try these alternatives instead:</p>
<% @brands.each do |brand| %>
  <%= brand.name %>
  <% if brand %>
    <a href="https://twitter.com/intent/tweet?button_hashtag=FairTrade&text=I%20found%20this%20<%= brand.description %>%20from%20%23<%= brand.name %>%20made" class="twitter-hashtag-button" data-size="large">Tweet #FairTrade</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <%end%>
<%end%>