<h1>Where's It From?</h1>

<!-- <form action="#" method="post" enctype="multipart/form-data" role="form">
  <input id="scanImage" type="file" name="image" accept="image/*" capture value="Scan Your Product" type="button" role="submit" class="btn btn-default btn-lg"
  ></input>
</form> -->

<div id="scanProduct">
  <label class="cameraButton">Take a picture
    <input type="file" accept="image/*;capture=camera">
  </label>
</div><br>
<div id="responseDiv">
  <span>[Response will replace this text]</span>
</div><br>