<h1>Where's It From?</h1>

<!-- <form action="#" method="post" enctype="multipart/form-data" role="form">
  <input id="scanImage" type="file" name="image" accept="image/*" capture value="Scan Your Product" type="button" role="submit" class="btn btn-default btn-lg"
  ></input>
</form> -->


<label class="cameraButton">Take a picture
  <input type="file" accept="image/*;capture=camera">
</label>


<a href="https://twitter.com/intent/tweet?button_hashtag=Fairtrade&text=I%20found%20this%20%20from%20%23brand%20made" class="twitter-hashtag-button" data-size="large">Tweet #Fairtrade</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
